In [250]:
import pandas as pd
from sklearn import preprocessing
from datetime import datetime
from sklearn.svm import SVR

In [251]:
df = pd.read_csv("Data/ticket.csv", delimiter="\t")

#### Removing redundant sections and rows with NaN for CheckinTime

In [252]:
df.drop("TIME SECTION",1, inplace = True)
df.drop("TICKET",1, inplace = True)
df.drop("TICKET NUM",1, inplace = True)
df.drop("TABLE TYPE",1, inplace = True)
df.drop("STATUS",1, inplace = True)
df.drop("CHANNEL",1, inplace = True)

In [253]:
df.head(5)

   REST_ID  TABLE SIZE              CREATE TIME          CHECKINTIME
0   113442           5  2016-01-01 11:09:19.000  2016-01-01 11:16:41
1   113442           4  2016-01-01 11:15:45.000  2016-01-01 11:16:40
2   113442           2  2016-01-01 11:17:11.000  2016-01-01 11:17:21
3   113442           2  2016-01-01 11:34:41.000  2016-01-01 11:34:53
4   113442           5  2016-01-01 11:51:00.000  2016-01-01 12:00:36

#### Parsing the DateTime and adding columns based on it

In [254]:
dater = lambda c: datetime.strptime(c, "%Y-%m-%d %H:%M:%S.%f")
dater2 = lambda c: datetime.strptime(c, "%Y-%m-%d %H:%M:%S")

In [255]:
# df["TIME CHECKIN"] = df["CHECKINTIME"].apply(lambda a: dater2(a).hour*3600 + dater2(a).minute*60 + dater2(a).second)
df["TIME (SEC)"] = df["CREATE TIME"].apply(lambda a: dater(a).hour*3600 + dater(a).minute*60 + dater(a).second)
df["MONTH"] = df["CREATE TIME"].apply(lambda a: int(a.split()[0].split('-')[1]))
df["DATE"] = df["CREATE TIME"].apply(lambda a: dater(a).day)
df["DAY"] = df["CREATE TIME"].apply(lambda a: dater(a).isoweekday())
# df["WAIT TIME"] = df["TIME CHECKIN"] - df["TIME (SEC)"]
df["INTERVAL NUMBER"] = df["TIME (SEC)"]//1200

In [256]:
df.head(5)

,REST_ID,TABLE SIZE,CREATE TIME,CHECKINTIME,TIME (SEC),MONTH,DATE,DAY,INTERVAL NUMBER
0,113442,5,2016-01-01 11:09:19.000,2016-01-01 11:16:41,40159,1,1,5,33
1,113442,4,2016-01-01 11:15:45.000,2016-01-01 11:16:40,40545,1,1,5,33
2,113442,2,2016-01-01 11:17:11.000,2016-01-01 11:17:21,40631,1,1,5,33
3,113442,2,2016-01-01 11:34:41.000,2016-01-01 11:34:53,41681,1,1,5,34
4,113442,5,2016-01-01 11:51:00.000,2016-01-01 12:00:36,42660,1,1,5,35

#### Setting up the regression model and training on it

In [257]:
df.drop("TABLE SIZE",1, inplace = True)
df.drop("CREATE TIME",1, inplace = True)
df.drop("CHECKINTIME",1, inplace = True)
# df.drop("TIME CHECKIN",1, inplace = True)
df.drop("TIME (SEC)",1, inplace = True)
# df.drop("WAIT TIME",1, inplace = True)
df = df.groupby(df.columns.tolist()).size().reset_index().rename(columns={0:'DENSITY'})

In [258]:
df.head(5)

   REST_ID  MONTH  DATE  DAY  INTERVAL NUMBER  DENSITY
0   113442      1     1    5               33        3
1   113442      1     1    5               34        1
2   113442      1     1    5               35        4
3   113442      1     1    5               36       10
4   113442      1     1    5               37        3

In [259]:
restaurantList = df['REST_ID'].values
restaurantList = list(set(restaurantList))

In [260]:
# (((df['REST_ID'] == 113442) & (df['MONTH'] == 1) & (df['DATE'] == 1) & (df['INTERVAL NUMBER'] == 25)).any())

False

In [261]:
for r in restaurantList:
    for m in range(1,13):
        for d in range (1,29):
            for i in range (27,69):
                if (not(((df['REST_ID'] == r) & (df['MONTH'] == m) & (df['DATE'] == d) & (df['INTERVAL NUMBER'] == i)).any())):
                    day = datetime.strptime("{}-{}-{}".format(2016,m,d) , "%Y-%m-%d").isoweekday()
                    df.loc[df.shape[0]]=[r, m, d, day, i, 0]

In [264]:
df

       REST_ID  MONTH  DATE  DAY  INTERVAL NUMBER  DENSITY
0       113442      1     1    5               33        3
1       113442      1     1    5               34        1
2       113442      1     1    5               35        4
3       113442      1     1    5               36       10
4       113442      1     1    5               37        3
5       113442      1     1    5               38       12
6       113442      1     1    5               39       12
7       113442      1     1    5               40       11
8       113442      1     1    5               41        6
9       113442      1     1    5               42       17
10      113442      1     1    5               43        9
11      113442      1     1    5               44        8
12      113442      1     1    5               45       12
13      113442      1     1    5               46       10
14      113442      1     1    5               47        2
15      113442      1     1    5               48        7
16      113442      1     1    5               49        5
17      113442      1     1    5               50        4
18      113442      1     1    5               51       11
19      113442      1     1    5               52       13
20      113442      1     1    5               53        9
21      113442      1     1    5               54        9
22      113442      1     1    5               55       21
23      113442      1     1    5               56       16
24      113442      1     1    5               57       17
25      113442      1     1    5               58       11
26      113442      1     1    5               59       10
27      113442      1     1    5               60       15
28      113442      1     1    5               61        9
29      113442      1     1    5               62       13
...        ...    ...   ...  ...              ...      ...
58452   113558     12    27    2               53        0
58453   113558     12    27    2               54        0
58454   113558     12    27    2               55        0
58455   113558     12    27    2               62        0
58456   113558     12    27    2               63        0
58457   113558     12    27    2               64        0
58458   113558     12    27    2               65        0
58459   113558     12    27    2               66        0
58460   113558     12    27    2               67        0
58461   113558     12    27    2               68        0
58462   113558     12    28    3               27        0
58463   113558     12    28    3               28        0
58464   113558     12    28    3               29        0
58465   113558     12    28    3               30        0
58466   113558     12    28    3               31        0
58467   113558     12    28    3               32        0
58468   113558     12    28    3               33        0
58469   113558     12    28    3               34        0
58470   113558     12    28    3               35        0
58471   113558     12    28    3               43        0
58472   113558     12    28    3               47        0
58473   113558     12    28    3               50        0
58474   113558     12    28    3               52        0
58475   113558     12    28    3               62        0
58476   113558     12    28    3               63        0
58477   113558     12    28    3               64        0
58478   113558     12    28    3               65        0
58479   113558     12    28    3               66        0
58480   113558     12    28    3               67        0
58481   113558     12    28    3               68        0

[58482 rows x 6 columns]