In [1]:
import pandas as pd
from sklearn import preprocessing
from datetime import datetime
from sklearn.svm import SVR

In [2]:
df = pd.read_csv("Data/ticket.csv", delimiter="\t")

#### Removing redundant sections and rows with NaN for CheckinTime

In [3]:
df.drop("TIME SECTION",1, inplace = True)
df.drop("TICKET",1, inplace = True)
df.drop("TICKET NUM",1, inplace = True)
df.drop("TABLE TYPE",1, inplace = True)
df.drop("STATUS",1, inplace = True)
df.drop("CHANNEL",1, inplace = True)

In [4]:
df.head(5)

   REST_ID  TABLE SIZE              CREATE TIME          CHECKINTIME
0   113442           5  2016-01-01 11:09:19.000  2016-01-01 11:16:41
1   113442           4  2016-01-01 11:15:45.000  2016-01-01 11:16:40
2   113442           2  2016-01-01 11:17:11.000  2016-01-01 11:17:21
3   113442           2  2016-01-01 11:34:41.000  2016-01-01 11:34:53
4   113442           5  2016-01-01 11:51:00.000  2016-01-01 12:00:36

#### Parsing the DateTime and adding columns based on it

In [5]:
dater = lambda c: datetime.strptime(c, "%Y-%m-%d %H:%M:%S.%f")
dater2 = lambda c: datetime.strptime(c, "%Y-%m-%d %H:%M:%S")

In [6]:
# df["TIME CHECKIN"] = df["CHECKINTIME"].apply(lambda a: dater2(a).hour*3600 + dater2(a).minute*60 + dater2(a).second)
df["TIME (SEC)"] = df["CREATE TIME"].apply(lambda a: dater(a).hour*3600 + dater(a).minute*60 + dater(a).second)
df["MONTH"] = df["CREATE TIME"].apply(lambda a: int(a.split()[0].split('-')[1]))
df["DATE"] = df["CREATE TIME"].apply(lambda a: dater(a).day)
df["DAY"] = df["CREATE TIME"].apply(lambda a: dater(a).isoweekday())
# df["WAIT TIME"] = df["TIME CHECKIN"] - df["TIME (SEC)"]
df["INTERVAL NUMBER"] = df["TIME (SEC)"]//1200

In [7]:
df.head(5)

,REST_ID,TABLE SIZE,CREATE TIME,CHECKINTIME,TIME (SEC),MONTH,DATE,DAY,INTERVAL NUMBER
0,113442,5,2016-01-01 11:09:19.000,2016-01-01 11:16:41,40159,1,1,5,33
1,113442,4,2016-01-01 11:15:45.000,2016-01-01 11:16:40,40545,1,1,5,33
2,113442,2,2016-01-01 11:17:11.000,2016-01-01 11:17:21,40631,1,1,5,33
3,113442,2,2016-01-01 11:34:41.000,2016-01-01 11:34:53,41681,1,1,5,34
4,113442,5,2016-01-01 11:51:00.000,2016-01-01 12:00:36,42660,1,1,5,35

#### Setting up the regression model and training on it

In [8]:
df.drop("TABLE SIZE",1, inplace = True)
df.drop("CREATE TIME",1, inplace = True)
df.drop("CHECKINTIME",1, inplace = True)
# df.drop("TIME CHECKIN",1, inplace = True)
df.drop("TIME (SEC)",1, inplace = True)
# df.drop("WAIT TIME",1, inplace = True)
df = df.groupby(df.columns.tolist()).size().reset_index().rename(columns={0:'DENSITY'})

In [10]:
df

       REST_ID  MONTH  DATE  DAY  INTERVAL NUMBER  DENSITY
0       113442      1     1    5               33        3
1       113442      1     1    5               34        1
2       113442      1     1    5               35        4
3       113442      1     1    5               36       10
4       113442      1     1    5               37        3
5       113442      1     1    5               38       12
6       113442      1     1    5               39       12
7       113442      1     1    5               40       11
8       113442      1     1    5               41        6
9       113442      1     1    5               42       17
10      113442      1     1    5               43        9
11      113442      1     1    5               44        8
12      113442      1     1    5               45       12
13      113442      1     1    5               46       10
14      113442      1     1    5               47        2
15      113442      1     1    5               48        7
16      113442      1     1    5               49        5
17      113442      1     1    5               50        4
18      113442      1     1    5               51       11
19      113442      1     1    5               52       13
20      113442      1     1    5               53        9
21      113442      1     1    5               54        9
22      113442      1     1    5               55       21
23      113442      1     1    5               56       16
24      113442      1     1    5               57       17
25      113442      1     1    5               58       11
26      113442      1     1    5               59       10
27      113442      1     1    5               60       15
28      113442      1     1    5               61        9
29      113442      1     1    5               62       13
...        ...    ...   ...  ...              ...      ...
23322   136888     12    27    2               42        1
23323   136888     12    27    2               43        1
23324   136888     12    28    3               40        2
23325   136888     12    28    3               41       54
23326   136888     12    28    3               42       28
23327   136888     12    29    4               38        3
23328   136888     12    29    4               39        2
23329   136888     12    29    4               41       28
23330   136888     12    29    4               42       14
23331   136888     12    29    4               43       13
23332   136888     12    29    4               44        2
23333   136888     12    30    5               37        3
23334   136888     12    30    5               38       10
23335   136888     12    30    5               39        9
23336   136888     12    30    5               40        6
23337   136888     12    30    5               41       38
23338   136888     12    30    5               42       33
23339   136888     12    30    5               43        8
23340   136888     12    30    5               44        2
23341   136888     12    30    5               46        1
23342   136888     12    31    6               34       26
23343   136888     12    31    6               35       11
23344   136888     12    31    6               36       15
23345   136888     12    31    6               37       15
23346   136888     12    31    6               38       20
23347   136888     12    31    6               39       14
23348   136888     12    31    6               40       13
23349   136888     12    31    6               41        7
23350   136888     12    31    6               42       10
23351   136888     12    31    6               43        7

[23352 rows x 6 columns]