In [142]:
import pandas as pd
from sklearn import preprocessing
from datetime import datetime

In [156]:
df = pd.read_csv("Data/ticket.csv", delimiter="\t")

#### Removing redundant sections and rows with NaN for CheckinTime

In [157]:
df.drop("TIME SECTION",1, inplace = True)
df.drop("TICKET",1, inplace = True)
df.drop("TICKET NUM",1, inplace = True)
df.drop("TABLE TYPE",1, inplace = True)
df.drop("STATUS",1, inplace = True)
df.drop("CHANNEL",1, inplace = True)
df = df.dropna()

In [163]:
df.head(5)

,REST_ID,TABLE SIZE,CREATE TIME,CHECKINTIME,TIME (SEC),MONTH,DAY
0,113442,5,2016-01-01 11:09:19.000,2016-01-01 11:16:41,40159,1,5
1,113442,4,2016-01-01 11:15:45.000,2016-01-01 11:16:40,40545,1,5
2,113442,2,2016-01-01 11:17:11.000,2016-01-01 11:17:21,40631,1,5
3,113442,2,2016-01-01 11:34:41.000,2016-01-01 11:34:53,41681,1,5
4,113442,5,2016-01-01 11:51:00.000,2016-01-01 12:00:36,42660,1,5

#### Parsing the DateTime and adding columns based on it

In [161]:
dater = lambda c: datetime.strptime(c, "%Y-%m-%d %H:%M:%S.%f")

In [162]:
df["TIME CHECKIN"] = df["CHECKINTIME"].apply(lambda a: dater(a))
df["TIME (SEC)"] = df["CREATE TIME"].apply(lambda a: dater(a).hour*3600 + dater(a).minute*60 + dater(a).second)
df["MONTH"] = df["CREATE TIME"].apply(lambda a: int(a.split()[0].split('-')[1]))
df["DAY"] = df["CREATE TIME"].apply(lambda a: dater(a).isoweekday())