In [19]:
import pandas as pd
from sklearn import preprocessing

In [7]:
df = pd.read_csv("Data/ticket.csv", delimiter="\t")

In [33]:
df.head(5)

,REST_ID,TIME SECTION,TABLE SIZE,TICKET,TABLE TYPE,TICKET NUM,CHANNEL,CREATE TIME,CHECKINTIME,STATUS
0,113442,A,5,C001,C,1,KIOSK,2016-01-01 11:09:19.000,2016-01-01 11:16:41,A
1,113442,A,4,B001,B,1,KIOSK,2016-01-01 11:15:45.000,2016-01-01 11:16:40,A
2,113442,A,2,A001,A,1,KIOSK,2016-01-01 11:17:11.000,2016-01-01 11:17:21,A
3,113442,A,2,A002,A,2,KIOSK,2016-01-01 11:34:41.000,2016-01-01 11:34:53,A
4,113442,A,5,C002,C,2,KIOSK,2016-01-01 11:51:00.000,2016-01-01 12:00:36,A

In [29]:
## Testing out handling dates
a,b = df["CREATE TIME"][0].split()
yy,mm,dd = a.split('-')
print(yy,mm,dd)
# print(b)
h, m, s = b.split(':')
print(h,m,int(float(s)))
m = int(m) +  float(s)/60
print(m)
h = int(h) + m/60
print(h)

2016 01 01
11 09 19
9.316666666666666
11.155277777777778

In [26]:
lb = preprocessing.LabelBinarizer()
lb.fit(['01','02','03','04','05','06','07','08','09','10','11','12'])
lb.transform(['03'])[0]

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [34]:
def handleDate(DT, table, label):
    date, time = DT.split()
    yr, mth, dd = date.split('-')
    mth = lb.transform([mth])[0]
    hr, mn, sec = time.split()
    mn = int(mn) + float(sec)/60
    hr = int(hr) + mn/60
    table[label + "_Month"].append(mth)
    table[label + "_Date"].append(dd)
    table[label + "_Hour"].append(hr)

In [38]:
data = {key:val for key, val in df.items()}

In [39]:
data.keys()

dict_keys(['REST_ID', 'TIME SECTION', 'TABLE SIZE', 'TICKET', 'TABLE TYPE', 'TICKET NUM', 'CHANNEL', 'CREATE TIME', 'CHECKINTIME', 'STATUS'])

In [45]:
df2 = df.tail(50)
df2.dropna()

,REST_ID,TIME SECTION,TABLE SIZE,TICKET,TABLE TYPE,TICKET NUM,CHANNEL,CREATE TIME,CHECKINTIME,STATUS
153546,136888,A,2,A046,A,46,MOBILE,2016-12-31 13:08:59.122,2016-12-31 13:38:57,A
153549,136888,A,3,B042,B,42,KIOSK,2016-12-31 13:15:57.769,2016-12-31 13:37:40,A
153559,136888,A,3,B045,B,45,MOBILE,2016-12-31 13:29:17.877,2016-12-31 13:55:42,A
153564,136888,A,2,A056,A,56,KIOSK,2016-12-31 13:38:03.299,2016-12-31 14:04:30,A
153568,136888,A,3,B048,B,48,KIOSK,2016-12-31 13:46:27.807,2016-12-31 14:02:47,A
153575,136888,A,2,A064,A,64,KIOSK,2016-12-31 14:04:57.072,2016-12-31 14:21:34,A

In [2]:
from datetime import datetime

In [3]:
d = datetime("2016-12-31 13:08:59.122")

TypeError: an integer is required (got type str)